*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 2, 100);
}
.container{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.container h1{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
.container input{
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 1px solid rgb(12, 12, 243);
    outline: 0;
    background-color: aliceblue;
}
.container button{
    background-color: rgb(24, 96, 204);
    color: #fff;
    cursor: pointer;
    border: 0;
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 15px;
    font-size: 15px;
    border-radius: 8px;
    /* margin-top: 10px; */
    
    /* margin-left: 10px;
    margin-right: 10px; */
}
.container div img{
    width: 220px;
    padding: 22px;
    display: block;
    margin: 15px auto;
    height: auto;
    max-width: 100%;
}